<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="95e367">  <td>22/03/10 11:23:17</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;AppiumChromeExample.setup()[pri:0, instance:test.AppiumChromeExample@6304101a]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@35984028</td>   <td></td> </tr>
<tr bgcolor="95e367">  <td>22/03/10 11:23:23</td>   <td>6096</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AppiumChromeExample.testSearchAppium()[pri:0, instance:test.AppiumChromeExample@6304101a]">testSearchAppium</td> 
  <td>main@35984028</td>   <td></td> </tr>
<tr bgcolor="95e367">  <td>22/03/10 11:23:24</td>   <td>6597</td> <td>&nbsp;</td><td title="&lt;&lt;AppiumChromeExample.tearDown()[pri:0, instance:test.AppiumChromeExample@6304101a]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@35984028</td>   <td></td> </tr>
</table>
